/*Estilos Gerais */
*{
    color:#25282E;
}

a,i{
    text-decoration: none;
}

.secondary-color{
    color: #555;
}

.center-image{
    background-size: cover;
    background-position: center;
}

.btn{
    text-decoration: none;
    background-color: #25282E;
    color: #FFF;
    border-radius:0;
}

.btn:hover {
    background-color: #333;
    color: #FFF;
}


/*HEADER*/

#header{
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #CCC;
}

#header p{
    margin-bottom: 0;
}

#logo-container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 0px;
}
/* NAVBAR*/

.baixo{
    margin-top: 20px;
}

/* MAIN IMAGE*/

.main-image{
    height: 400px;
    background-image: url('./img/sae_limpeza.jpg');
    margin-bottom: 30px;
    position: relative;
}

.main-image-info{
    background-color: #FFF;
    padding: 25px;
    position: absolute;
    left: 25px;
    bottom: 25px;
}


.teste{
    border: 1px solid red;
}


/* GALLERY */


#img2{
    background-image: url('./img/g_2.jpg');
}

#img3 {
    background-image: url('./img/g_3.jpg');
}

#img4 {
    background-image: url('./img/g_4.jpg');
}

#img5 {
    background-image: url('./img/g_5.jpg');
}

#img6 {
    background-image: url('./img/g_6.jpg');
}

#gallery-container h1{
    text-align: center;
}

#gallery-container h1,
#gallery-container .col-md-6,
#gallery-container .col-12 {
    margin-bottom: 50px;
}

.small-image-container{
    height: 250px;
    margin-top: 50px;
    margin-bottom: 20px;
}